.heading 
{
    font-size: 23px;
    width: 100%;
    margin: 0;
}

.note 
{
    font-size: 15px;
    color: black;
}

body 
{
    background-size: cover;
}

#songname
{
    font-size: 23px;
    margin: 15px;
}

canvas
{
    background-color: black;
	border: 5px solid white;
	border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 7px 7px 7px blue;
}
